html
{
    width: 100% !important;
    height: 100% !important;
}

body
{
    width: 100% !important;
    height: 100% !important;
    background: #4F4F3F url(../img/textures/classy_fabric.png);

    font-size: 1em;
    line-height: 1.4;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

div.container-fluid
{
    height: 100% !important;
}

article header h3
{
    color: #A0A0A0;
    font-size: 1.2em;
    text-shadow: 1px 2px 3px #0A0A0A;
}

article.issues .counter
{
    color: #A0A0A0;
    font: 14em Helvetica, Helvetica Neue, Arial;
    text-align: left;
    height: 100% !important;
    min-height: 300px !important;
}

article.timeline .plot
{
    min-height: 200px !important;
}

article header
{
    position: relative;
}

.icon
{
    display: inline-block;
    position: absolute;
    top: -0.5em;
    left: 7em;
    width: 64px;
    height: 64px;
}

.icon.red
{
    background-image: url('../img/icons/red-16-64x64.png');
    background-repeat: no-repeat;
}

.icon.green
{
    background-image: url('../img/icons/green-01-64x64.png');
    background-repeat: no-repeat;
}

.icon.yellow
{
    background-image: url('../img/icons/yellow-09-64x64.png');
    background-repeat: no-repeat;
}

